IoT Data Analysis using ML.json
[{"id":"fcddcedb.07ff1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1dddc39.36278","type":"debug","z":"fcddcedb.07ff1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":100,"wires":[]},{"id":"ba9f7672.7cec08","type":"ui_gauge","z":"fcddcedb.07ff1","name":"","group":"c8773d01.32d0e","order":1,"width":"6","height":"6","gtype":"gage","title":"humidity","label":"Degree","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":200,"wires":[]},{"id":"b7275a35.c42bb8","type":"ui_gauge","z":"fcddcedb.07ff1","name":"","group":"c8773d01.32d0e","order":3,"width":"6","height":"6","gtype":"gage","title":"wind","label":"units","format":"{{msg.payload.wind}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":240,"wires":[]},{"id":"3de001d.c8774fe","type":"ui_gauge","z":"fcddcedb.07ff1","name":"","group":"c8773d01.32d0e","order":4,"width":"6","height":"6","gtype":"gage","title":"temperature","label":"","format":"{{msg.payload.temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":160,"wires":[]},{"id":"c81fd048.222a","type":"ibmiot in","z":"fcddcedb.07ff1","authentication":"apiKey","apiKey":"1b3bd0d7.0173af","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12","applicationId":"","deviceType":"Iot","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":140,"wires":[["3de001d.c8774fe","ba9f7672.7cec08","b7275a35.c42bb8","cb6fb5ff.6e8738"]]},{"id":"f242ea20.1e0cb8","type":"http request","z":"fcddcedb.07ff1","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":440,"wires":[["e7cc37bd.db1d48","c74417d8.07c3d8"]]},{"id":"cb6fb5ff.6e8738","type":"function","z":"fcddcedb.07ff1","name":"Pre-tocken","func":"global.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"wind\",msg.payload.wind)\nvar apikey=\"-TiHcMz0fSngqMwpCUILxfPNSwl0gQtqo5wTCjVtNSMr\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":360,"wires":[["f242ea20.1e0cb8"]]},{"id":"e7cc37bd.db1d48","type":"function","z":"fcddcedb.07ff1","name":"Pre-Prediction","func":"var temperature = global.get(\"temperature\")\nvar humidity = global.get(\"humidity\")\nvar wind = global.get(\"wind\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"temperature\", \"humidity\", \"wind\"]],\"values\": [[temperature,humidity,wind]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":420,"wires":[["789a6111.bb7f6"]]},{"id":"c74417d8.07c3d8","type":"debug","z":"fcddcedb.07ff1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":520,"wires":[]},{"id":"37440230.61205e","type":"function","z":"fcddcedb.07ff1","name":"","func":"var temperature = global.get ('temperature')\nvar humidity = global.get ('humidity')\nvar wind = global.get ('wind')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n Rainfall: {\n temperature: temperature,\n humidity: humidity,\n wind: wind,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":320,"wires":[["62eb89f5.aa9c28","3e0803c2.b0089c"]]},{"id":"789a6111.bb7f6","type":"http request","z":"fcddcedb.07ff1","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/2ecd3fc3-1c14-4291-8286-99b1ff597754/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":480,"wires":[["37440230.61205e","a66505d3.d01d28"]]},{"id":"a66505d3.d01d28","type":"debug","z":"fcddcedb.07ff1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":560,"wires":[]},{"id":"3e0803c2.b0089c","type":"debug","z":"fcddcedb.07ff1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":360,"wires":[]},{"id":"62eb89f5.aa9c28","type":"ui_text","z":"fcddcedb.07ff1","group":"c8773d01.32d0e","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":260,"wires":[]},{"id":"c8773d01.32d0e","type":"ui_group","z":"","name":"IOT Rainfall","tab":"af5beed.cdea61","order":2,"disp":true,"width":"17","collapse":false},{"id":"1b3bd0d7.0173af","type":"ibmiot","z":"","name":"new","keepalive":"60","serverName":"l9teka.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"af5beed.cdea61","type":"ui_tab","z":"","name":"Analysis","icon":"dashboard","disabled":false,"hidden":false}]